<div class="wrapper">
  <div class="connected-carousels">
    <div class="stage">
      <div class="carousel carousel-stage">
        <ul>
        </ul>
      </div>
      <a href="#" class="prev prev-stage"><span>&lsaquo;</span></a>
      <a href="#" class="next next-stage"><span>&rsaquo;</span></a>
    </div>

    <div class="navigation">
      <a href="#" class="prev prev-navigation">&lsaquo;</a>
      <a href="#" class="next next-navigation">&rsaquo;</a>
      <div class="carousel carousel-navigation">
        <ul>
        </ul>
      </div>
    </div>
  </div>
</div>