<div class="tbl_data">
</div>
<div class="paging_bar">
</div>
<style>
.img_paging{
  padding: 5px;
  padding-bottom: 0px;
}
.num_page{
  cursor: pointer;
  color: blue;
}
.active{
  color: red;
}
img{
	padding: 5px;
}
</style>