<div class="wrapper" style="padding:0px;">
  <strong><center>Instagram photo posts</center></strong>
  <%= render partial: "search_form" %>
  <%= render partial: "carousel" %>
  <%= render partial: "google_map" %>
  <%= render partial: "paging" %>
</div>

